* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #faf9f6;
  background-color: #3f3c3c;
  border: 5px solid #96651b;
}

.wrapper {
  -webkit-filter: drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));
          filter: drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));
}

.wrapper .logo {
  position: relative;
  height: 60vh;
  width: 80vw;
  margin: 0 auto;
  -webkit-clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
          clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
}

@media (max-width: 1040px) {
  .wrapper .logo {
    height: 42vh;
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
  }
}

@media (max-width: 810px) {
  .wrapper .logo {
    height: 80%;
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
  }
}

@media (max-width: 460px) {
  .wrapper .logo {
    height: 100%;
    width: 100%;
    -webkit-clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
            clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
  }
}

.wrapper .logo .pictures {
  height: 100%;
  width: 100%;
}

.wrapper .logo .pictures .img {
  display: block;
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logoButton {
  display: block;
  margin: 40px auto;
  background: none;
  border: none;
}

.logoButton:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media (max-width: 460px) {
  .container {
    display: block;
  }
}

.container .mainText {
  width: 40vw;
  margin: 15px 25px;
}

@media (max-width: 810px) {
  .container .mainText {
    margin: 15px;
  }
}

@media (max-width: 460px) {
  .container .mainText {
    width: 80%;
    text-align: center;
  }
}

.container .mainText .heading {
  display: block;
  font-size: 1.1rem;
  color: #96651b;
  width: 100%;
  text-align: center;
  margin: 5px;
}

.container .mainText .text {
  width: 30vw;
  text-align: end;
  line-height: 1.5rem;
  margin: 5px 5px 55px 5px;
}

@media (max-width: 460px) {
  .container .mainText .text {
    text-align-last: center;
  }
}

.container .mainText .text span {
  display: block;
}

@media (max-width: 460px) {
  .container .mainText .text span {
    display: none;
  }
}

.container .mainText .contact {
  margin: 15px;
}

@media (max-width: 810px) {
  .container .mainText .contact {
    margin: 15px 0;
  }
}

@media (max-width: 376px) {
  .container .mainText .contact {
    font-size: smaller;
  }
}

.container .mainText .contact a {
  display: inline-block;
  margin-left: 3px;
  color: #96651b;
}

.container .mainText .contact a:hover {
  color: #dc9c3b;
}

.container .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 40vw;
  margin: 5px;
}

@media (max-width: 460px) {
  .container .form {
    width: 100%;
    margin-top: 50px;
  }
}

@media (max-width: 376px) {
  .container .form {
    width: 90%;
    margin: 55px auto;
  }
}

.container .form label {
  width: 40%;
  text-align: end;
  margin: auto 7px;
}

@media (max-width: 810px) {
  .container .form label {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 460px) {
  .container .form label {
    width: 30%;
    font-size: smaller;
    margin-right: 0;
    text-align: start;
  }
}

@media (max-width: 376px) {
  .container .form label {
    width: 100%;
    text-align: center;
  }
}

.container .form input {
  width: 40%;
  margin: 5px;
  padding: 3px;
  outline: none;
  border: 2px solid #96651b;
  color: #3f3c3c;
}

@media (max-width: 810px) {
  .container .form input {
    width: 50vw;
  }
}

@media (max-width: 460px) {
  .container .form input {
    width: 60%;
  }
}

@media (max-width: 376px) {
  .container .form input {
    width: 100%;
  }
}

.container .form .submit {
  width: 25%;
  letter-spacing: 1px;
  padding: 1px 5px;
  margin: 5px 280px;
  border-color: #96651b;
  background-color: #96651b;
  font-style: italic;
}

@media (max-width: 810px) {
  .container .form .submit {
    margin: 5px auto;
  }
}

@media (max-width: 460px) {
  .container .form .submit {
    margin: 5px 230px;
  }
}

@media (max-width: 376px) {
  .container .form .submit {
    margin: 5px auto;
  }
}

.container .form .submit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.saidText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: large;
  width: 60vw;
  margin: 120px auto;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

@media (max-width: 810px) {
  .saidText {
    width: 80vw;
  }
}

@media (max-width: 460px) {
  .saidText {
    width: 70%;
    margin: 80px auto;
    text-align-last: center;
  }
}

.saidText .text {
  width: 100%;
  letter-spacing: 1.1px;
  margin-bottom: 60px;
}

@media (max-width: 810px) {
  .saidText .text {
    text-align-last: center;
  }
}

@media (max-width: 460px) {
  .saidText .text {
    margin-bottom: 40px;
  }
}

.saidText .pdf {
  display: inline-block;
  font-size: 1rem;
  color: #96651b;
  height: 15px;
  width: 250px;
  background: url(../photo/pdf_bg.gif);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  text-align: left;
  font-weight: lighter;
  padding-left: 80px;
  padding-bottom: 45px;
  text-decoration: none;
}

@media (max-width: 460px) {
  .saidText .pdf {
    width: 700px;
    margin: 35px 0;
  }
}

.saidText .pdf:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=restaurant.css.map */