* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:rgb(63, 60, 60);
$sideColor:darken($mainColor, 5%);
$textColor:rgb(250, 249, 246);
$goldenColor:rgb(150, 101, 27);
$shadow:drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));

@mixin backgroundPhotos {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@mixin headingStyle {
    display: block;
    font-size: 1.1rem;
    color: $goldenColor;
    width: 100%;
    text-align: center;
    margin: 5px;
}
$breakpoints:(
    large:(max-width:1040px),
    medium:(max-width:810px),
    x-small:(max-width:580px),
    small:(max-width:460px),
    extra-small:(max-width:376px),
);

@mixin mg($breakpoint) {
    $size:map-get($map: $breakpoints, $key:$breakpoint);
    @if(size) {
        @media#{$size} {
            @content;
        }
    }
}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $textColor;
    background-color:$mainColor;
    border: 5px solid $goldenColor;
}
.wrapper {
    filter: $shadow;
    & .logo {
        position: relative;
        height: 60vh;
        width: 80vw;
        margin: 0 auto;
        clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
        @include mg(large) {
            height: 42vh;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
        }
        @include mg(medium) {
            width: 100%;
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
        }
        @include mg(small) {
            height: 50vh;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        & .pictures {
            height: 100%;
            width: 100%;
            & img {
                @include backgroundPhotos;
            }
        }
    }
}
.logoButton {
    display: block;
    margin: 40px auto;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.container {
    display: flex;
    justify-content: space-around;
    @include mg(x-small) {
        display: block;
    }
    .mainText {
        margin: 15px 25px;
        @include mg(medium) {
            width: 40vw;
            margin: 15px;
        }
        @include mg(small) {
            width: 80%;
            margin-bottom:60px;
        }
        .heading {
            @include headingStyle()
        }
        .text1 {
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 15px 5px;
            @include mg(small) {
                text-align-last: center;
            }
        }
        .address {
            text-align: center;
        }
        .contact {
            margin: 15px;
            a {
                color: $goldenColor;
                &:hover {
                    color: lighten($goldenColor, 20% );
                }
            }
        }
    }
    .asideText {
        margin: 15px 30px;
        @include mg(medium) {
            width: 40vw;
            margin: 15px;
        }
        @include mg(small) {
            width: 80%;
        }
        .heading {
            @include headingStyle();
        }
        .text1 {
            width: 35vw;
            text-align: end;
            line-height: 1.5rem;
            margin: 5px auto 35px;
            @include mg(small) {
                text-align:center;
                margin-bottom: 20px;
            }
        }
        .wrapper2 {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 15px;
            input[type=number] {
                width: 40%;
                outline: none;
                border:1px solid $goldenColor;
                @include mg(small) {
                    width: 60%;
                    margin-bottom: 10px; 
                }
            }
            
            & .submit {
                width: 20%;
                border: none;
                background-color: $goldenColor;
                letter-spacing: 1px;
                padding: 1px 5px;
                margin-left: 8px;
                cursor: pointer;
                @include mg(small) {
                    width: 30%;
                    margin-bottom: 10px;
                }
                &:hover {
                    transform: scale(1.1);
                }
            }
            & .text1 {
                margin-top: 30px;
                line-height: 1.5rem;
                @include mg(medium) {
                    text-align: center;
                }
                @include mg(small) {
                    margin-top: 10px;
                }
                a {
                    color: $goldenColor;
                    @include mg(medium) {
                        font-size: smaller;
                    }
                    @include mg(extra-small) {
                        display: block;
                        font-size: small;
                        width: 100%;
                    }
                    @include mg(small) {
                        display: block;
                        font-size: small;
                    }
                    &:hover {
                        color:lighten($goldenColor, 20% ); ;
                    }
                }
            }
            & .text2 {
                align-self: center;
                font-size: 2rem;
                letter-spacing: 2px;
                animation: textclip 2s linear infinite;
                background-image: linear-gradient(
                    -225deg,
                    #fff800 0%,
                    $goldenColor 29%,
                    $sideColor 67%,
                    $mainColor 100%,
                    );
                background-size: auto auto;
                background-clip: border-box;
                background-size: 200% auto;
                color: #fff;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                display: inline-block;
                @include mg(extra-small) {
                    text-align-last: end;
                }
                @keyframes textclip {
                    to {
                        background-position: -200% center;
                    }
                }
            }
        }
    }
}
