* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:rgb(63, 60, 60);
$sideColor:darken($mainColor, 5%);
$textColor:rgb(250, 249, 246);
$goldenColor:rgb(150, 101, 27);
$shadow:drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));

@mixin backgroundPhotos {
    display: block;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
@mixin headingStyle {
    display: block;
    font-size: 1.1rem;
    color: $goldenColor;
    width: 100%;
    text-align: center;
    margin: 5px;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:$mainColor;
    border: 5px solid $goldenColor;
}
.wrapper {
    filter: $shadow;
    & .logo {
        position: relative;
        height: 60vh;
        width: 80vw;
        margin: 0 auto;
        clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
        .pictures{
            height: 100%;
            width: 100%;
            .img{
               @include backgroundPhotos;
            }
        }
    }
}   
.logoButton {
    display: block;
    margin: 40px auto;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.container {
    display: flex;
    justify-content: space-around;
    & .mainText {
        width: 40vw;
        margin: 15px 25px;
        color: $textColor;
        .heading {
            @include headingStyle()
        }
        .text {
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 55px 5px;
        }
        .address {
            text-align: center;
        }
        .contact {
            margin: 15px;
            a {

                display: inline-block;
                margin-left: 3px;
                color: $goldenColor;
                &:hover {
                    color: lighten($goldenColor, 20% );
                }
            }
        }
    }
    & .form {
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
        margin: 5px;
        & label {
            width: 40%;
            text-align: end;
            margin: auto 7px;
        }
        & input {
            width: 40%;
            margin: 5px;
            padding: 3px;
            outline: none;
            border: 2px solid $goldenColor;
            color: $mainColor;
        }
        & .phoneNumber::-webkit-outer-spin-button,phoneNumber::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        & .phoneNumber[type=number] {
            -moz-appearance: textfield;
        } 
        & .submit {
            width: 25%;
            letter-spacing: 1px;
            padding: 1px 5px;
            margin: 5px 280px;
            border-color: $goldenColor;
            background-color: $goldenColor;
            font-style: italic;
            &:hover {
                transform: scale(1.1);
            }
        }   
    }
}
.saidText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
    width: 60vw;
    margin: 130px auto;
    align-content: space-between;
    & .text {
        width: 100%;
        letter-spacing: 1.1px;
        color: $textColor;
        margin-bottom: 60px;
    }
    & .pdf {
        display: inline-block;
        font-size: 1rem;
        color: $goldenColor;
        height: 15px;
        width: 250px;
        background:url(../photo/pdf_bg.gif);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        text-align: left;
        font-weight: lighter;
        padding-left: 80px;
        padding-bottom: 45px;
        text-decoration: none;
        &:hover {
            transform: scale(1.1);
        }
    }
    
}
    
