* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:rgb(63, 60, 60);
$sideColor:darken($mainColor, 5%);
$textColor:rgb(250, 249, 246);
$goldenColor:rgb(150, 101, 27);
$shadow:drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));

@mixin backgroundPhotos {
    display: block;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
}
@mixin headingStyle {
    display: block;
    font-size: 1.1rem;
    color: $goldenColor;
    width: 100%;
    text-align: center;
    margin: 5px;
}
$breakpoints:(
    large:(max-width:1040px),
    medium:(max-width:810px),
    x-small:(max-width:580px),
    small:(max-width:460px),
    extra-small:(max-width:376px),
);

@mixin mg($breakpoint) {
    $size:map-get($map: $breakpoints, $key:$breakpoint);
    @if(size) {
        @media#{$size} {
            @content;
        }
    }
}

$breakpoints:(
    large:(max-width:1040px),
    medium:(max-width:810px),
    x-small:(max-width:580px),
    small:(max-width:460px),
    extra-small:(max-width:376px),
);

@mixin mg($breakpoint) {
    $size:map-get($map: $breakpoints, $key:$breakpoint);
    @if(size) {
        @media#{$size} {
            @content;
        }
    }
}

body {
    min-height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $textColor;
    background-color:$mainColor;
    border: 5px solid $goldenColor;
}
.wrapper {
    filter: $shadow;
    & .logo {
        position: relative;
        height: 60vh;
        width: 80vw;
        margin: 0 auto;
        clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
        @include mg(large) {
            height: 42vh;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
        }
        @include mg(medium) {
            height: 80%;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 98%, 100% 100%, 100% 0%, 0% 0%);
        }
        @include mg(small) {
            height: 100%;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        .pictures{
            height: 100%;
            width: 100%;
            .img{
               @include backgroundPhotos;
            }
        }
    }
}   
.logoButton {
    display: block;
    margin: 40px auto;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.container {
    display: flex;
    justify-content: space-around;
    @include mg(small) {
        display: block;
    }
    & .mainText {
        width: 40vw;
        margin: 15px 25px;
        @include mg(medium) {
            margin: 15px;
        }
        @include mg(small) {
            width: 80%;
            text-align: center;
        }
        .heading {
            @include headingStyle()
        }
        .text {
            width: 30vw;
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 55px 5px;
            @include mg(small) {
                width: 100%;
                text-align-last: center;
            }
            & span {
                display: block;
                @include mg(small) {
                display: none;}
            }
        }
        .contact {
            margin: 15px;
            @include mg(medium) {
                margin: 15px 0;
            }
            @include mg(extra-small) {
                font-size: smaller;
            }
            a {
                display: inline-block;
                margin-left: 3px;
                color: $goldenColor;
                &:hover {
                    color: lighten($goldenColor, 20% );
                }
            }
        }
    }
    & .form {
        display: flex;
        flex-wrap: wrap;
        width: 40vw;
        margin: 5px;
        @include mg(small) {
            width: 100%;
            margin-top: 50px;
        }
        @include mg(extra-small) {
            width: 90%;
            margin: 55px auto;
        }
        & label {
            width: 40%;
            text-align: end;
            margin: auto 7px;
            @include mg(medium) {
                width: 100%;
                text-align: center;
            }
            @include mg(small) {
                width: 30%;
                font-size: smaller;
                margin-right: 0;
                text-align: start;
            }
            @include mg(extra-small) {
                width: 100%;
                text-align: center;
            }
        }
        & input {
            width: 40%;
            margin: 5px;
            padding: 3px;
            outline: none;
            border: 2px solid $goldenColor;
            color: $mainColor;
            @include mg(medium) {
                width: 50vw;
            }
            @include mg(small) {
                width: 60%;
            }
            @include mg(extra-small) {
                width: 100%;
            }
        }
        
        & .submit {
            width: 25%;
            letter-spacing: 1px;
            padding: 1px 5px;
            margin: 5px 280px;
            border-color: $goldenColor;
            background-color: $goldenColor;
            font-style: italic;
            @include mg(medium) {
                margin: 5px auto;
            }
            @include mg(small) {
                margin: 5px 230px;
            }
            @include mg(extra-small) {
                margin: 5px auto;
            }
            &:hover {
                transform: scale(1.1);
            }
        }   
    }
}
.saidText {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: large;
    width: 60vw;
    margin: 120px auto;
    align-content: space-between;
    @include mg(medium) {
        width: 80vw;

    }
    @include mg(small) {
        width: 70%;
        margin: 80px auto;
        text-align-last: center;
    }
    & .text {
        width: 100%;
        letter-spacing: 1.1px;
        margin-bottom: 60px;
        @include mg(medium) {
            text-align-last: center;
        }
        @include mg(small) {
            margin-bottom: 40px;
        }

    }
    & .pdf {
        display: inline-block;
        font-size: 1rem;
        color: $goldenColor;
        height: 15px;
        width: 250px;
        background:url(../photo/pdf_bg.gif);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10px;
        text-align: left;
        font-weight: lighter;
        padding-left: 80px;
        padding-bottom: 45px;
        text-decoration: none;
        @include mg(small) {
            width: 700px;
            margin: 35px 0;
        }
        &:hover {
            transform: scale(1.1);
        }
    }
    
}
    
