* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:rgb(63, 60, 60);
$sideColor:darken($mainColor, 5%);
$textColor:rgb(250, 249, 246);
$goldenColor:rgb(150, 101, 27);
$shadow:drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));

@mixin backgroundPhotos {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@mixin headingStyle {
    display: block;
    font-size: 1.1rem;
    color: $goldenColor;
    width: 100%;
    text-align: center;
    margin: 5px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:$mainColor;
}
.wrapper {
    filter: $shadow;
    & .logo {
        border-color: blue;
        position: relative;
        height: 60vh;
        width: 80vw;
        margin: 0 auto;
        clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
        & .pictures {
            height: 100%;
            width: 100%;
            & img {
                @include backgroundPhotos;
            }
        }
    }
}
.logoButton {
    display: block;
    margin: 40px auto;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.contact {
    position: absolute;
    top: 400px;
    right: 115px;
    font-size: smaller;
    color: $textColor;
    text-transform: capitalize;
    & a {
        display:inline-block;
        text-decoration: none;
        color: $goldenColor;
        margin-left: 7px;
        &:hover {
            transform: scale(1.1);
        }
    }
}
.container {
    display: flex;
    justify-content: space-around;
    & .mainText {
        width: 40vw;
        margin: 15px 25px;
        color: $textColor;
        & .heading {
            @include headingStyle()
        }
        & .text {
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 15px 5px;
        }
    }
    & .sideText {
        width: 40vw;
        margin: auto 25px;
        color: $textColor;
        & .text { 
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 15px 5px;
        }
        & .text:last-child {
            margin-top: 15px;
            font-weight: lighter;
            font-style: italic;
        }

    }
}
