* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$mainColor:rgb(63, 60, 60);
$sideColor:darken($mainColor, 5%);
$textColor:rgb(250, 249, 246);
$goldenColor:rgb(150, 101, 27);
$shadow:drop-shadow(0 3px 4px rgba(252, 252, 252, 0.5));

@mixin backgroundPhotos {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
@mixin headingStyle {
    display: block;
    font-size: 1.1rem;
    color: $goldenColor;
    width: 100%;
    text-align: center;
    margin: 5px;
}
$breakpoints:(
    large:(max-width:1040px),
    medium:(max-width:810px),
    x-small:(max-width:580px),
    small:(max-width:460px),
    extra-small:(max-width:376px),
);

@mixin mg($breakpoint) {
    $size:map-get($map: $breakpoints, $key:$breakpoint);
    @if(size) {
        @media#{$size} {
            @content;
        }
    }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:$mainColor;
    border: 5px solid $goldenColor;
}
.wrapper {
    filter: $shadow;
    & .logo {
        border-color: blue;
        position: relative;
        height: 60vh;
        width: 80vw;
        margin: 0 auto;
        clip-path: polygon(0% 100%, 50% 95%, 100% 100%, 100% 0%, 0% 0%);
        @include mg(medium) {
            // height: 80%;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        @include mg(small) {
            height: 50vh;
            width: 100%;
            clip-path: polygon(0% 100%, 50% 100%, 100% 100%, 100% 0%, 0% 0%);
        }
        & .pictures {
            height: 100%;
            width: 100%;
            & img {
                @include backgroundPhotos;
            }
        }
    }
}
.logoButton {
    display: block;
    margin: 40px auto;
    background: none;
    border: none;
    &:hover {
        transform: scale(1.1);
        letter-spacing: 0.3rem;
        opacity: 0.6;
    }
}
.container {
    display: flex;
    justify-content: space-around;
    @include mg(small) {
        display: block;
    }
    & .mainText {
        width: 40vw;
        margin: 15px 25px;
        color: $textColor;
        @include mg(small) {
           width: 80%;
        }
        & .heading {
            @include headingStyle()
        }
        & .text {
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 15px 5px;
        }
    }
    & .sideText {
        width: 40vw;
        margin: auto 25px;
        color: $textColor;
        @include mg(small) {
            width: 80%;
         }
        & .text { 
            text-align: end;
            line-height: 1.5rem;
            margin: 5px 5px 15px 5px;
        }
        & .text:last-child {
            margin-top: 15px;
            font-weight: lighter;
            font-style: italic;
            @include mg(small) {
                margin-bottom: 30px;
             }
        }

    }
}
